{% extends "admin/base.html.twig" %}

{% block main %}

	<h1>{{ admin }}</h1>

	{% for brand in brands %}

		<img src="{{ asset('media/' ~ brand.media) }}" alt="{{ brand.name }}">
		<h2>
			<a href="{{ path("admin_brand_show", {'id' : brand.id } ) }}">
				{{ brand.name }}
			</a>
		</h2>

	{% endfor %}


{% endblock %}
