{% extends "admin/base.html.twig" %}

{% block main %}

	<h1>{{ admin }}</h1>

	{% for category in categories %}

		<img src="{{ asset('media/' ~ category.media) }}" alt="{{ category.name }}">
		<h2>
			<a href="{{ path('admin_category_show', {'id' : category.id }) }}">{{ category.name }}
			</a>
		</h2>


	{% endfor %}


{% endblock %}
