{% extends "admin/base.html.twig" %}

{% block main %}

	<h1>{{ admin }}</h1>

	{{form_start(categoryForm)}}

	{{form_label(categoryForm.name, 'Nom')}}
	{{form_widget(categoryForm.name)}}

	{{form_label(categoryForm.description, 'Description')}}
	{{form_widget(categoryForm.description)}}

	{{form_label(categoryForm.media, 'Image')}}
	{{form_widget(categoryForm.media)}}

	{{form_widget(categoryForm.Enregistrer)}}

	{{form_end(categoryForm)}}

{% endblock %}
