{% extends "admin/base.html.twig" %}


{% block main %}

	<h1>{{ admin }}</h1>

	{% for product in products %}
		<img src="{{ asset('media/' ~ product.media[0].src) }}" alt="{{product.media[0].alt}}">
		<h1>
			<a href="{{ path('admin_product_show', {'id' : product.id } ) }}">{{ product.name }}</a>
		</h1>
	{% endfor %}

{% endblock %}
