{% extends "admin/base.html.twig" %}

{% block main %}

	<h1>{{ admin }}</h1>

	{{form_start(productForm)}}

	{{form_label(productForm.name, 'Nom')}}
	{{form_widget(productForm.name)}}

	{{form_label(productForm.price, 'Prix')}}
	{{form_widget(productForm.price)}}

	{{form_label(productForm.stock, 'Stock')}}
	{{form_widget(productForm.stock)}}

	{{form_label(productForm.category, 'Catégorie')}}
	{{form_widget(productForm.category)}}

	{{form_label(productForm.brand, 'Marque')}}
	{{form_widget(productForm.brand)}}

	{{form_widget(productForm.Soumettre)}}

	{{form_end(productForm)}}

{% endblock %}
