{% extends "front/base.html.twig" %}

{% block main %}

	<h1>{{ batman }}</h1>
	<h1>{{ front }}</h1>

	<img src="{{ asset('media/' ~ brand.media ) }}" alt="{{ brand.name }}">
	<h2>{{ brand.name }}</h2>
	<p>{{ brand.description }}</p>

{% endblock %}
