{% extends "front/base.html.twig" %}

{% block main %}


	<h1>{{ front }}</h1>

	<img src="{{ asset('media/' ~ category.media) }}" alt="{{ category.name }}">
	<h2>{{ category.name }}</h2>
	<p>{{ category.description }}</p>

{% endblock %}
