{% extends "front/base.html.twig" %}

{% block main %}

	<h1>{{ front }}</h1>

	{% for image in product.media %}

		<img src="{{ asset('media/' ~ image.src) }}" alt="{{ image.alt }}">

	{% endfor %}
	<h2>{{ product.name }}</h2>
	<h3>{{ product.price }}</h3>

{% endblock %}
