{% extends "front/base.html.twig" %}

{% block main %}


	<h1>{{ front }}</h1>

	{% for product in products %}
		<img src="{{ asset('media/' ~ product.media[0].src) }}" alt="{{ product.media[0].alt }}">
		<h2>
			<a href="{{ path("product_show", {'id' : product.id } ) }}">{{ product.name }}</a>
		</h2>
	{% endfor %}

{% endblock %}
